.CFUserTextEncoding
.bash_history
.com.apple.timemachine.supported
.lesshst
.mysql_history
.mysqldata/
.rnd
.ssh/
.subversion/
.vim/
.viminfo
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
XAMPP/
scripts/
vim-addons/
vim-backup/
.Trash/
.rvm
.NERDTreeBookmarks
.gem
.rvmrc
.vim_mru_files
