.CFUserTextEncoding
.bash_history
.com.apple.timemachine.supported
.gvimrc
.lesshst
.mysql_history
.mysqldata/
.rnd
.ssh/
.subversion/
.vim/
.viminfo
.vimrc
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
XAMPP/
scripts/
vim-addons/
